// Base colors
$color-1: #da9d90;
$color-2: #dac290;
$color-3: #cdda90;
$color-4: #a8da90;
$color-5: #90da9d;
$color-6: #90dac2;

// Transitions
$fade: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
$fade-fast: all 0.3s cubic-bezier(0, 0.9, 0.75, 0.75);
